Source: somagic-easycap
Section: graphics
Priority: extra
Maintainer: Jeffry Johnston <somagic@kidsquid.com>
Build-Depends: debhelper (>= 8.0.0), libusb-1.0-0-dev, libgcrypt11-dev
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/easycap-somagic-linux/

Package: somagic-easycap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: mplayer, somagic-easycap-tools, usbutils
Description: Somagic EasyCAP video capture
 Linux capture program for the Somagic variants of the EasyCAP:
 .
 EasyCAP Model DC60, with CVBS, S-VIDEO, AUDIO(L), and AUDIO(R)
 inputs. The uninitialized device shows in lsusb as
 "1c88:0007 Somagic, Inc". Once initialized, it shows as
 "1c88:003c Somagic, Inc".
 .
 EzCAP USB 2.0, with unlabeled CVBS, S-VIDEO, AUDIO(L), and
 AUDIO(R) inputs. The device is initialized automatically and
 shows in lsusb as "1c88:003d Somagic, Inc".
 .
 EasyCAP Model 002 (or EasyCAP002), with 1, 2, 3, 4, and
 unlabeled microphone inputs. The uninitialized device shows in
 lsusb as "1c88:0007 Somagic, Inc". Once initialized, it shows
 as either "1c88:003e Somagic, Inc" or
 "1c88:003f Somagic, Inc".
 .
 This package provides somagic-init (performs user space firmware
 upload to the device), and somagic-capture (performs user space
 video capture).

